# Ignorar binarios y resultados
bin/
# Ignorar todos los archivos de results/
results/*

# Pero incluir estos específicos:
!results/datosN.dat
!results/energias.dat

*.o

# Ignorar archivos temporales
*~
*.swp

# Ignorar documentación generada
docs/
html/
latex/

# Archivos de usuario o caché
.vscode/
